/* PC */
@media (min-width: 1024px) {

}

/* Tablet & Mobile */
@media (max-width: 1023px) {
    #nav .subnav a {
        padding: 5px 12px;
    }

    .place-buy-btn {
        padding: 16px 16px;
    }

    .contact-form .form-control {
        padding: 15px;      
        font-size: 16px;
    }

    .contact-infor {
        line-height: 2;
    }

    #footer .socials-list {
        font-size: 28px;
    }

    #footer .socials-list a {   
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }

    .from-submit-btn {
        font-size: 16px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32  px;   
    }
}